<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="plugin.video.libtv">
        <category id="general" label="32100" help="">
            <group id="0" label="32119">
                <setting id="setup_guide" type="action" label="32120" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=setup_guide)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="1" label="32101">
                <setting id="max_items" type="integer" label="32102" help="">
                    <level>0</level>
                    <default>150</default>
                    <constraints>
                        <minimum>10</minimum>
                        <maximum>1000</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="shuffle" type="boolean" label="32103" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="manage_channels" type="action" label="32110" help="">
                    <level>0</level>
                    <data>ActivateWindow(Videos,plugin://plugin.video.libtv/?action=channels,return)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="autotune_channels" type="action" label="32111" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=autotune)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="autotune_studio_channels" type="action" label="32112" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=autotune_studio)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="2" label="32104">
                <setting id="epg_hours" type="integer" label="32105" help="">
                    <level>0</level>
                    <default>24</default>
                    <constraints>
                        <minimum>6</minimum>
                        <maximum>72</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="regen_interval_hours" type="integer" label="32106" help="">
                    <level>0</level>
                    <default>6</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>24</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="join_in_progress" type="boolean" label="32107" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="refresh_pvr" type="boolean" label="32109" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="regenerate_now" type="action" label="32108" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=build)</data>
                    <control type="button" format="action"/>
                </setting>
                <setting id="show_iptv_paths" type="action" label="32118" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=show_iptv_paths)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
            <group id="3" label="32114">
                <setting id="overlay_hotkey_key" type="string" label="32115" help="32117">
                    <level>0</level>
                    <default>g</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="overlay_hotkey_apply" type="action" label="32116" help="">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.libtv/?action=apply_keymap)</data>
                    <control type="button" format="action"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
